<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>

<div class="container">

    <header>
        <h1>Spotify Dashboard</h1>
    </header>

    <div class="dashboard-layout">

        <!-- LEFT -->
        <section class="top-tracks-section">
            <h2>Your Top Tracks</h2>

            {% if top_tracks %}
                <div class="tracks-grid">
                    {% for track in top_tracks %}
                        <div class="track-card">
                            <img src="{{ track['image'] }}" class="album-cover">

                            <div class="track-info">
                                <h3>{{ track['name'] }}</h3>
                                <p>{{ track['artist'] }}</p>
                                <p>Popularity: {{ track['popularity'] }}</p>

                                <button class="spotify-btn play-track-btn" data-uri="{{ track['uri'] }}">
                                    Play
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="recommended-section">
    <h2>Recommended</h2>
    <div id="recommended-container"></div>
</div>
        </section>

        <!-- CENTER -->
        <section class="now-playing-section">
            <h2>Now Playing</h2>

            <div class="player-side">

                <div id="now-playing-container">
                    <p>Loading current track...</p>
                </div>

                <div class="player-controls">

                    <div class="control-buttons">
                        <button id="prev-btn">⏮</button>
                        <button id="play-btn">▶</button>
                        <button id="pause-btn">⏸</button>
                        <button id="next-btn">⏭</button>
                    </div>

                    <div class="progress-wrapper">
                        <span id="current-time">0:00</span>
                        <input type="range" id="progress-bar" min="0" max="100" value="0">
                        <span id="duration">0:00</span>
                    </div>

                </div>

                <div class="recently-played-section">
                    <h3>Recently Played</h3>
                    <div id="recently-played-container"></div>
                </div>

            </div>
        </section>

        <!-- RIGHT -->
        <section class="right-panel">

            <!-- SEARCH -->
            <div class="search-section">
                <input type="text" id="search-input" placeholder="Search songs...">
                <div id="search-results"></div>
            </div>

            <!-- PLAYLISTS -->
            <div class="playlist-section">
                <h3>Your Playlists</h3>
                <div id="playlist-container"></div>
            </div>

            <!-- LIKED -->
            <div class="liked-section">
                <h3>Liked Songs</h3>

                <button id="play-liked-btn" class="spotify-btn">
                    ▶ Play Liked Songs
                </button>

                <div id="liked-container"></div>
            </div>

        </section>

    </div>
</div>

<script>
//---------TOP TRACKS BUTTON-------

document.querySelectorAll(".play-track-btn").forEach(btn => {
    btn.onclick = () => {
        const uri = btn.getAttribute("data-uri");

        fetch("/play_track", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(uri)
        })
        .then(() => {
            document.getElementById("now-playing-container").innerHTML = "Loading...";
            fetchCurrentlyPlaying();
        });
    };
});

// ---------- FORMAT ----------
function formatTime(ms) {
    const seconds = Math.floor(ms / 1000);
    const min = Math.floor(seconds / 60);
    const sec = seconds % 60;

    return `${min}:${sec < 10 ? "0" : ""}${sec}`;
}

// ---------- PROGRESS ----------
let currentDuration = 0;

function updateProgress(data) {
    if (!data) return;

    currentDuration = data.duration_ms;

    const percent = (data.progress_ms / data.duration_ms) * 100;

    document.getElementById("progress-bar").value = percent;
    document.getElementById("current-time").innerText = formatTime(data.progress_ms);
    document.getElementById("duration").innerText = formatTime(data.duration_ms);
}

// ---------- NOW PLAYING ----------
function fetchCurrentlyPlaying() {
    fetch("/currently_playing")
        .then(res => res.json())
        .then(data => {

            const container = document.getElementById("now-playing-container");

            if (data.error) {
                container.innerHTML = `<p>${data.error}</p>`;
                return;
            }

            container.innerHTML = `
                <div class="now-playing-card">
                    <img src="${data.image}" class="now-playing-cover">

                    <div class="now-playing-info">
                        <h3>${data.name}</h3>
                        <p>${data.artist}</p>
                        <p><strong>Album:</strong> ${data.album}</p>
                    </div>
                </div>
            `;

            updateProgress(data);
        });
}

// ---------- RECENTLY ----------
function fetchRecentlyPlayed() {
    fetch("/recently_played")
        .then(res => res.json())
        .then(data => {

            const container = document.getElementById("recently-played-container");

            if (!data || data.error) {
                container.innerHTML = "<p>No data</p>";
                return;
            }

            container.innerHTML = data.map(track => `
                <div class="recent-track">
                    <img src="${track.image}" class="recent-cover">
                    <div>
                        <p><strong>${track.name}</strong></p>
                        <p>${track.artist}</p>
                    </div>
                </div>
            `).join("");
        });
}

// ---------- SEARCH ----------
let searchTimeout;

document.getElementById("search-input").addEventListener("input", (e) => {
    const query = e.target.value;

    clearTimeout(searchTimeout);

searchTimeout = setTimeout(() => {

    const container = document.getElementById("search-results");

    if (query.length < 2) {
        container.innerHTML = "";
        return;
    }

    container.innerHTML = "Loading...";

    fetch(`/search?query=${query}`)
        .then(res => res.json())
        .then(data => {

            if (!data || data.length === 0) {
                container.innerHTML = "<p>No results</p>";
                return;
            }

            container.innerHTML = data.map(track => `
                <div class="search-item" data-uri="${track.uri}">
                    <img src="${track.image}" class="search-cover">
                    <div>
                        <p><strong>${track.name}</strong></p>
                        <p>${track.artist}</p>
                    </div>
                </div>
            `).join("");

            document.querySelectorAll(".search-item").forEach(item => {
                item.onclick = () => {
                    const uri = item.getAttribute("data-uri");

                    fetch("/play_track", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(uri)
                    })
                    .then(() => {
                        document.getElementById("now-playing-container").innerHTML = "Loading...";
                        fetchCurrentlyPlaying();
                    });
                };
            });

        });

}, 400);
});

// ---------- PLAYER CONTROLS ----------
document.getElementById("play-btn").onclick = () => fetch("/play", { method: "POST" });
document.getElementById("pause-btn").onclick = () => fetch("/pause", { method: "POST" });
document.getElementById("next-btn").onclick = () => fetch("/next", { method: "POST" });
document.getElementById("prev-btn").onclick = () => fetch("/previous", { method: "POST" });
document.getElementById("play-liked-btn").onclick = () => {
fetch("/play_liked", { method: "POST" })
        .then(() => fetchCurrentlyPlaying());
};
// ---------- SEEK ----------
document.getElementById("progress-bar").addEventListener("change", (e) => {
    const percent = e.target.value;
    const newPosition = (percent / 100) * currentDuration;

    fetch("/seek", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(Math.floor(newPosition))
    });
});

// ---------- START ----------
fetchCurrentlyPlaying();
setInterval(fetchCurrentlyPlaying, 1000);
fetchPlaylists();
fetchRecentlyPlayed();
setInterval(fetchRecentlyPlayed, 5000);
fetchLikedSongs();


//-----------playlists-----------
function fetchPlaylists() {
    fetch("/playlists")
        .then(res => res.json())
        .then(data => {

            const container = document.getElementById("playlist-container");

            if (!data || data.length === 0) {
                container.innerHTML = "<p>No playlists</p>";
                return;
            }

            container.innerHTML = data.map(pl => `
                <div class="playlist-item" data-id="${pl.id}">
                    ${pl.image ? `<img src="${pl.image}" class="playlist-cover">` : ""}
                    <p>${pl.name}</p>
                </div>
            `).join("");

            document.querySelectorAll(".playlist-item").forEach(item => {
                item.onclick = () => {
                    const id = item.getAttribute("data-id");

                    fetch("/play_playlist", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(id)
                    }).then(() => {
                        fetchCurrentlyPlaying();
                    });
                };
            });
        });
}
//---------likedsongs--------
function fetchLikedSongs() {
    fetch("/liked_songs")
        .then(res => res.json())
        .then(data => {

            const container = document.getElementById("liked-container");

            if (!data || data.length === 0) {
                container.innerHTML = "<p>No liked songs</p>";
                return;
            }

            container.innerHTML = data.map(track => `
                <div class="search-item" data-uri="${track.uri}">
                    <img src="${track.image}" class="search-cover">
                    <div>
                        <p><strong>${track.name}</strong></p>
                        <p>${track.artist}</p>
                    </div>
                </div>
            `).join("");

            // klik = play track
            document.querySelectorAll("#liked-container .search-item").forEach(item => {
                item.onclick = () => {
                    const uri = item.getAttribute("data-uri");

                    fetch("/play_track", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(uri)
                    }).then(() => fetchCurrentlyPlaying());
                };
            });
        });
}
</script>

</body>
</html>

