<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Spotify Recommendations</h1>
        <p>Witaj! Aby rozpocząć, kliknij poniżej, aby zalogować się do Spotify.</p>
        <a href="{{ url_for('login') }}" class="btn">Zaloguj się przez Spotify</a>
    </div>
</body>
</html>
