<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Rekomendacje na podstawie twojej historii</h1>
        <ul>
            {% for track in recommendations %}
                <li>{{ track.track_name }} - {{ track.artist_name }}</li>
            {% endfor %}
        </ul>
        <a href="/" class="btn">Wróć do strony głównej</a>
    </div>
</body>
</html>
