body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
}

.container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    color: #b3b3b3;
}

.spotify-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background: #1DB954;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.spotify-btn:hover {
    transform: scale(1.05);
}